DB_PASSWORD=
MONGO_PASSWORD=

REDIS_PASSWORD=
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=

GITHUB_USERNAME=
GITHUB_TOKEN=

ENCRYPT_KEY=

OPENAI_API_KEY

ACCOUNT_ENCRYPTION_KEY=
ACCOUNT_ENCRYPTION_SALT=
ACCOUNT_HASH_KEY=
